<!DOCTYPE html>
<html>
<head>
	<style>
		body {
    		display: flex;
    		min-height: 100vh;
    		flex-direction: column;
  		}

		main {
		    flex: 1 0 auto;
		}
     
	</style>
	<title>Sign-In</title>
	    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
</head>
<body>

<header>
  <nav>
    <div class="nav-wrapper  light-blue darken-4">
      <a href="#" class="brand-logo center"><span class="icon" style="font-size: 26px; color: rgb(253, 216, 53); height: 103px; width: 103px; line-height: 65px; border-radius: 50%; text-align: center; background-color: rgb(1, 87, 155);">Marker!</span></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
      </ul>
      <div class="row">
        <ul id="slide-out" class="side-nav">
          <li><div class="user-view">
              <div class="background">
                <img src="images/blue.png" width="300 px" height="200 px">
              </div>
                <a href="#!user"><img class="circle" src="images/logo.jpg"></a>
                <a href="#!name"><span class="yellow-text text-darken-1 name">Not Signed In</span></a><br>
                <a href="#!email"><span class="yellow-text text-darken-1 email" style="display: none;">saadBhai@hawtmail.com</span></a>
              </div>
          </li>

          <li><a class="waves-effect waves-light btn modal-trigger light-blue darken-4" href="templates/auth/sign-in.html"><i class="material-icons">person</i><span class="yellow-text text-darken-1">Sign-In</span></a></li>
          <li><a href="index.html" class="waves-effect"><i class="material-icons">house</i>Home</a></li>
          <li><a class="waves-effect" href="#!"><i class="material-icons">favorite_border</i>My Places</a></li>
          <li><a class="waves-effect" href="#!"><i class="material-icons">my_location</i>Track Location</a></li>
          <li><a class="waves-effect" href="#!"><i class="material-icons">explore</i>My Tracks</a></li>
          <li><a class="waves-effect" href="#!"><i class="material-icons">pin_drop</i>Input Coordinates</a></li>
          <li><a class="waves-effect" href="#!"><i class="material-icons">camera</i>Take map screenshot</a></li>
          <li><a class="waves-effect" href="#!"><i class="material-icons">pin_drop</i>Input Coordinates</a></li>
          <li><a class="waves-effect" href="#!"><i class="material-icons">people</i>About-Us</a></li>
          <li><a class="waves-effect" href="#!"><i class="material-icons">phone</i>Contact-Us</a></li>
       </ul>
       <a href="#" data-activates="slide-out" class="button-collapse show-on-medium-and-up"><i class="material-icons yellow-text text-darken-1  ">dashboard</i></a>
      </div>
    </div>
  </nav>
</header>

<main>
  <!--Sign-In Page-->  
  	<div class="row">
    	<div class="col s12">
    		<div class="card yellow darken-1">
    			<div class="card-content white-text">
    				<span class="card-title"><span class="light-blue-text text-darken-4"><b>Sign-In</b></span></span>
    				<div class="row">
    					<form class="col s12">
    						<div class="row">
    							<div class="input-field col s12">
    								<input type="text" id="email" class="validate">
    								<label for="email"><span class="light-blue-text text-darken-4"><b>Email<b></span></label>
    							</div>
    							<div class="input-field col s12">
    								<input type="password" id="password">
    								<label for="password"><span class="light-blue-text text-darken-4"><b>Password</b></span></label>
    							</div>
    						</div>
    					</form>
    				</div>
    			</div>
    			<div class="card-action">
    				<a href="#" class="waves-effect waves-teal"><span class="light-blue-text text-darken-4">Login-In</span></a>
    				<p><span class="light-black-text text-darken-4">Don't have an account already?</span></p>
    				<a href="#" class="waves-effect waves-teal"><span class="light-blue-text text-darken-4">Register</span></a>
    			</div>
    		</div>
    	</div>
  	</div>	
</main>

         

<!--Footer-->
<footer class="page-footer light-blue darken-4">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="yellow-text text-darken-1">About-Us</h5>
          <p class="yellow-text text-darken-1">Never loose sight of where your shit is!</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="yellow-text text-darken-1">More</h5>
          <ul>
            <li><a class="yellow-text text-darken-1" href="#!"><i class="material-icons">house</i>Home</a></li>
            <li><a class="yellow-text text-darken-1" href="#!"><i class="material-icons">person</i>Sign-In</a></li>
            <li><a class="yellow-text text-darken-1" href="#!"><i class="material-icons">phone</i>Contact-Us</a></li>
            <li><a class="yellow-text text-darken-1" href="#!"><i class="material-icons">people</i>About-Us</a></li>
          </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">© 2019 GLP-3.0<a class="grey-text text-lighten-4 right" href="https://github.com/kazzastic/Marker">github</a></div>
  </div>
</footer>



<!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/6.1.1/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/6.1.1/firebase-auth.js"></script>
<script src="https://www.gstatic.com/firebasejs/6.1.1/firebase-firestore.js"></script>


<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#config-web-app -->

<script>
  // Your web app's Firebase configuration
  var firebaseConfig = {
    apiKey: "AIzaSyCxfrSqQHCFdLXAzFkCTDKowb1xDKzNc-E",
    authDomain: "we-marker.firebaseapp.com",
    databaseURL: "https://we-marker.firebaseio.com",
    projectId: "we-marker",
    storageBucket: "we-marker.appspot.com",
    messagingSenderId: "726485613802",
    appId: "1:726485613802:web:75edd4ab891bdbdb"
  };
  // Initialize Firebase
  firebase.initializeApp(firebaseConfig);

  //auth and DB 
  const auth = firebase.auth();
  const db = firebase.firestore();

  //firestore setting update
  db.setting({timestampsInSnapshots: true});
</script>


<!--JavaScript at end of body for optimized loading-->
<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

<script>
	$('.button-collapse').sideNav();

  	$(document).ready(function(){
    	$('.modal').modal({
      		startingTop : '10%'
    	});
  });
</script>
</body>
</html>