body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.badge {
  height: 13px;
  width: 23px;
  display: table-cell;
  text-align: center;
  color:black;
  vertical-align: middle;
  border-radius: 50%; /* may require vendor prefixes */
  background: red;
}

.custDiv {
  box-shadow: 0 0 4px -1px rgba(0,0,0,0.2);
  cursor:pointer;
  height:55px;
  width:55px;
  background-color: grey;
  background-image: url('components/icons/settings-512.png');
}
.custDiv:active {
  box-shadow: 0 0 4px -1px rgba(0,0,0,1);
}

.custDiv:hover {
  box-shadow: 0 0 4px -1px rgba(0,0,0,0.8);
}

